<p style="font-weight:600">dashboard page works</p>
<p>{{today | date:'fullDate'}}</p>
<label for="birthdate">Birthdate</label>
<p>The custom date is {{today | date:'mm-dd-yyyy HH:mm a z':'+0900'}}</p>

<span>{{ singleDate | date:'M/dd/y' }}</span>

<input type="text" class="datepicker">
<ng-datepicker [(ngModel)]="date"></ng-datepicker>